<section id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">


        <a class="navbar-brand" href="#"><img src="./images/df807120-7bab-4b25-8bf3-588962468cb0_200x200.png"
                id="logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">XPLORE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT-US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT-US</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                    style="margin: 10px; color: #fff;">Upload Image</button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                    style="margin: 10px; color: #fff;">Login / Sign-up</button>
            </form>
        </div>
    </nav>

</section> <br>

<section id="main-body">

    <div class="row" style="margin: 10px">
        <div class="col">

            <h2> Categories </h2>
            <br>

            <ul style="list-style-type:none;">
                <li style="margin: 15px"> <button class="btn btn-danger"> #Trending </button> </li>
                <li style="margin: 15px"> <button class="btn btn-danger"> #Funny </button> </li>
                <li style="margin: 15px"> <button class="btn btn-danger"> #Technology </button> </li>
                <li style="margin: 15px"> <button class="btn btn-danger"> #Cricket </button> </li>
            </ul>


        </div>

        <div class="vl"></div>

        <div class="col-6" style="margin: 20px;">
            <img src="./images/dora-needs-your-help_o_2675667.jpg">
            <br>
            <br>
            <div id="likes">
                <span class="figure">
                </span>
            </div>
            <button type="button" id="like" class="btn btn-danger">Upvote</button>
            <button type="button" id="dislike" class="btn btn-danger">downvote</button>


            <br> <br> <br>

            <img src="./images/dora-needs-your-help_o_2675667.jpg">
            <br> <br> <br>

            <img src="./images/dora-needs-your-help_o_2675667.jpg">
            <br> <br> <br>

            <img src="./images/dora-needs-your-help_o_2675667.jpg">
            <br> <br> <br>

        </div>

        <div class="vl"></div>

        <div class="col" id="right">

            <h3> Share On </h3> <br>

            <button class="btn btn-primary"> <i class="fa fa-facebook-square" aria-hidden="true"
                    style="margin: 10px ;"></i> </button>
            <button class="btn btn-primary"> <i class="fa fa-google" aria-hidden="true" style="margin: 10px ;"></i>
            </button>
            <button class="btn btn-primary"> <i class="fa fa-instagram" aria-hidden="true" style="margin: 10px ;"></i>
            </button>
            <button class="btn btn-primary"> <i class="fa fa-twitter" aria-hidden="true" style="margin: 10px ;"></i>
            </button>



        </div>
    </div>

</section>