<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{style}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>The Meme Store</title>
</head>

<body background="./images/art-artistic-background-1020315.jpg">
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light">


            <a class="navbar-brand" href="#"><img src="./images/df807120-7bab-4b25-8bf3-588962468cb0_200x200.png"
                    id="logo" style="height: 55px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">ABOUT-US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">CONTACT-US</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                        style="margin: 10px; color: #fff; border-radius: 25px;">Upload Image</button>
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                        style="margin: 10px; color: #fff; border-radius: 25px;">Login / Sign-up</button>
                </form>
            </div>
        </nav>

    </section> <br>

    <section id="main-body">

        <div class="row" style="margin: 10px">
            <div class="col-3" style="position: fixed;">

                <h2 style="color: tomato; margin-left: 15px;"> Categories </h2>
                <br>

                <ul style="list-style-type:none;">
                    <li style="margin: 15px;"> <button class="btn btn-danger button"> <span> #Trending </span> </button>
                    </li>
                    <li style="margin: 15px"> <button class="btn btn-danger button"> <span> #Tech </span> </button>
                    </li>
                    <li style="margin: 15px"> <button class="btn btn-danger button"> <span> #Cricket </span> </button>
                    </li>
                    <li style="margin: 15px"> <button class="btn btn-danger button"> <span> #Funny </span> </button>
                    </li>
                </ul>


            </div>

            <div class="vl"></div>



            <div class="col-9" style="margin: 20px; margin-left: 4%">

                <h2 style="text-align: right ; color: black" class="sticky"> </h2> <br>
                <div class="card-group">
                    <button style="width: 300px; height: 200px; margin: 10px;">
                        <div class="card">
                            <img src="./images/dora-needs-your-help_o_2675667.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Funny</h5>
                                <p class="card-text"></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                    </button>

                    <button style="width: 300px; height: 200px;margin: 10px;">
                        <div class="card">
                            <img src="./images/dora-needs-your-help_o_2675667.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Funny</h5>
                                <p class="card-text"></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                    </button>

                    <button style="width: 300px; height: 200px; margin: 10px;">
                        <div class="card">
                            <img src="./images/dora-needs-your-help_o_2675667.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Funny</h5>
                                <p class="card-text"></p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                    </button>  <br>
                </div>

            </div>


        </div>

        </div>


        <!-- <div class="v2"></div> -->

        <!-- <div class="col" id="right">

                <h3 style="color: tomato"> Share On </h3> <br>

                <button class="btn btn-primary"> <i class="fa fa-facebook-square" aria-hidden="true"
                        style="margin: 10px ;"></i> </button>
                <button class="btn btn-primary"> <i class="fa fa-google" aria-hidden="true" style="margin: 10px ;"></i>
                </button>
                <button class="btn btn-primary"> <i class="fa fa-instagram" aria-hidden="true"
                        style="margin: 10px ;"></i> </button>
                </button>



            </div> -->
        </div>

    </section>

    <!-- <div class="footer" style="color: #fff !important;
    font-weight: 600;">

        <div>&copy; copyright</div>
        <h2>THE MEME STORE</h2>

    </div> -->





</body>

</html>