:root {
    font-family: Helvetica;
    font-size: 14px;
}

* {
    font: inherit;
}

#meme-canvas {
    width: 200px;
    position: absolute; 
    right: 250px;
}

#left{
    position: absolute;
    left:0px;
}
#up-show{
    position: absolute;
    bottom:200px;
    left:0px;
}

.vl {
    border-left: 6px solid rgb(12, 14, 12);
    height: 600px;
  }


 #memeShare,#generate-btn,#up-show{
        background-image: linear-gradient(to right, #5f1782, red);
    border : 1px solid red;
}