<title>Hello zuha</title>

<body>
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light">


            <a class="navbar-brand" href="#"><img src="/images/df807120-7bab-4b25-8bf3-588962468cb0_200x200.png"
                    id="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">XPLORE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT-US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT-US</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin: 10px; color: #fff;">Upload Image</button>
                    <button class="btn btn-outline-success my-2 my-sm-0" id="signup"type="submit" style="margin: 10px; color: #fff;"> Sign-up</button>
                </form>
            </div>
        </nav>

    </section> <br>

    <section id="main-body">

        <div class="row" style="margin: 10px">
            <div class="col-l">

                <h2> Categories </h2>
                <br>

                    <ul style="list-style-type:none;">
                            <li style="margin: 15px" id="Fun"> <button class="btn btn-danger"> #Funny </button>  </li>
                            <li style="margin: 15px" id="Hum">  <button class="btn btn-danger"> #Humor  </button> </li>
                            <li style="margin: 15px" id="Sar">  <button class="btn btn-danger"> #Sarcasm </button> </li>
                            <li style="margin: 15px" id="Awe">  <button class="btn btn-danger">  #Awesome  </button> </li>
                            <li style="margin: 15px" id="Sch">  <button class="btn btn-danger">  #School  </button> </li>
                          </ul>  
                

            </div>

            <div class="vl-l"></div>

            <div class="col-6" id="crd"style="margin: 20px;height:20%;">
                 //display in masonary and display search box also.
                 
                <h1 style="text-align: center;">Masonry Grid Layout</h1>
<section class="grid-container">
  <div class="cols grid-area">
    <figure class="col grid-1">
      <img src="https://placeimg.com/640/640/animals" alt="">
      <figcaption>
        <h2>Title</h2>
        <div class="grid-button-wrapper">
          <button class="rww_grid_button">View More</button>
        </div>
        <p>Use share button below to share more.</p>
        <a href="#">View More</a>
      </figcaption>
    </figure>
    <div class="col grid-2">
      <img src="https://placeimg.com/640/640/any" alt="">
    </div>
    <figure class="col grid-3">
      <img src="https://placeimg.com/640/640/arch" alt="">
      <figcaption>
        <h2>Title</h2>
        <div class="grid-button-wrapper">
          <button class="rww_grid_button">View More</button>
        </div>
        <p>Use share button below to share more.</p>
        <a href="#">View More</a>
      </figcaption>
    </figure>
    <div class="col grid-4">
      <img src="https://placeimg.com/640/640/nature" alt="">
    </div>
    <div class="col grid-5">
      <span class="text-container">
          <p><b>Welcome to The MEME STORE</b></p>
        </span>
      <img src="https://placeimg.com/640/640/tech" alt="">
    </div>
  
    <div class="col grid-7">
      <img src="https://placeimg.com/640/640/sepia" alt="">
    </div>
    <div class="col grid-8">
      <img src="https://placeimg.com/640/640/any" alt="">
    </div>
     <div class="col grid-9">
      <img src="https://placeimg.com/640/640/any" alt="">
    </div>
     <div class="col grid-10">
      <img src="https://placeimg.com/640/640/any" alt="">
    </div>
     <div class="col grid-11">
      <img src="https://placeimg.com/640/640/any" alt="">
    </div>
  </div>
</section>



            </div>

            <div class="vl-r"></div>

            <div class="col-r" id="right">

                <h3> Share On </h3> <br>

                <button class="btn btn-primary"> <i class="fa fa-facebook-square" aria-hidden="true" style="margin: 10px ;"></i> </button>
                <button class="btn btn-primary"> <i class="fa fa-google" aria-hidden="true" style="margin: 10px ;"></i>  </button> 
                <button class="btn btn-primary">  <i class="fa fa-instagram" aria-hidden="true" style="margin: 10px ;"></i> </button>
                <button class="btn btn-primary">  <i class="fa fa-twitter" aria-hidden="true" style="margin: 10px ;"></i> </button>



            </div>
        </div>

    </section>
      <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="/javascripts/Awesome.js"></script>;
<script src="/javascripts/data.js"></script>;
<script src="/javascripts/Funny.js"></script>;
<script src="/javascripts/Sarcasm.js"></script>;
<script src="/javascripts/Humor.js"></script>;
<script src="/javascripts/School.js"></script>;

   </body>
