
body {
    font-family: sans-serif;
    background:white;
    
}



#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, red, #5f1782);
    padding: 0;
    
}

#logo {
    height: 40px ;
    padding-left: 20px;
}

.navbar-nav li 
{
    padding: 0 10px;
}

.navbar-nav li a 
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
    
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;

}


.vl {
    border-left: 5px solid red;
    height: auto; 
}

.col-6 {
    margin: 10px;
    align-content: center;
}

#right {
    margin: 20px;
}


.imgPost {
    border-radius: 25px;
    border: 2px red solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    

  }
  
  .imgPost:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and 
    earlier */  
    -moz-box-shadow: 0 0 10px #ccc;
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc;
    

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.imgbutton{

    text-align: center;
    border: 3px red solid;
    background-color: whitesmoke;
    border-radius: 25px;
}
button {
    border: none;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  button {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  button:hover {
   background-image: linear-gradient(to right, red, #5f1782);
    color: white;
    border: 2px white solid;
  }
  
.clicked {
    background-color: #f44336;
    color:white;
  }
#newcomment,#username{
  border-radius: 25px;
  border: 2px solid #f44336;
}