<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{style}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>The Meme Store</title>
</head>

<body background="./images/art-artistic-background-1020315.jpg">
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light">


            <a class="navbar-brand" href="#"><img src="./images/df807120-7bab-4b25-8bf3-588962468cb0_200x200.png"
                    id="logo"  style="height: 55px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT-US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-us">CONTACT-US</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                        style="margin: 10px; color: #fff; border-radius: 25px;">Upload Image</button>
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                        style="margin: 10px; color: #fff; border-radius: 25px;">Login / Sign-up</button>
                </form>
            </div>
        </nav>

    </section> <br>

    <div class="jumbotron jumbotron-fluid" style="background-color: transparent; border-radius: 25px;"
        <div class="container">
            <h1 class="display-4 text-center" style="color: tomato">About Us</h1> <br>
            <p style="text-align: center; color: #fff;"> This Project is created by the following persons. </p> 
        </div>
    </div>


    <div class="container">

        <div class="card mb-3 p-2" style="max-width: 100%;background: tomato; border-radius: 30px;">
            <div class="row no-gutters">
                <div class="col-md-8">

                    <div class="card-body" style="color: #fff">
                        <h5 class="card-title">Amit Mehra</h5>
                        <p class="card-text">( Backend Work)</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <img style="width: 150px; height: 150px;" src="https://image.flaticon.com/icons/svg/145/145859.svg"
                        class="card-img" alt="...">

                </div>
            </div>
        </div> <br>



           <div class="card mb-3 p-2" style="max-width: 100%;background: tomato; border-radius: 30px;">
            <div class="row no-gutters">
                <div class="col-md-8">

                    <div class="card-body" style="color: #fff">
                        <h5 class="card-title">Rinku Hasija</h5>
                        <p class="card-text">( Frontend Work)</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <img style="width: 150px; height: 150px;" src="https://image.flaticon.com/icons/svg/145/145859.svg"
                        class="card-img" alt="...">

                </div>
            </div>
        </div> <br>

        <div class="card mb-3 p-2" style="max-width: 100%; background: tomato; border-radius: 30px;">
            <div class="row no-gutters">
                <div class="col-md-8">

                    <div class="card-body" style="color: #fff">
                        <h5 class="card-title">Rishabh Verma</h5>
                        <p class="card-text"> (API related Work)</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <img style="width: 150px; height: 150px;" src="https://image.flaticon.com/icons/svg/145/145859.svg"
                        class="card-img" alt="...">

                </div>
            </div>
        </div> <br>
        
        <div class="card mb-3 p-2" style="max-width: 100%;background: tomato; border-radius: 30px;">
            <div class="row no-gutters">
                <div class="col-md-8">

                    <div class="card-body" style="color: #fff">
                        <h5 class="card-title">Md. Zuha Khalid</h5>
                        <p class="card-text">(Admin Part)</p>
                    </div>

                </div>
                <div class="col-md-4">
                    <img style="width: 150px; height: 150px;" src="https://image.flaticon.com/icons/svg/145/145859.svg"
                        class="card-img" alt="...">

                </div>
            </div>
        </div> <br>

        <div class="card mb-3 p-2" style="max-width: 100%;background: tomato; border-radius: 30px;">
            <div class="row no-gutters">
                <div class="col-md-8">

                    <div class="card-body" style="color: #fff">
                        <h5 class="card-title">Rashi Chaudhary</h5>
                        <p class="card-text"> (Image upload & Login/Signup Pages) </p>
                    </div>

                </div>
                <div class="col-md-4">
                    <img style="width: 150px; height: 150px;" src="https://image.flaticon.com/icons/svg/1808/1808660.svg"
                        class="card-img" alt="...">
                        

                </div>
            </div>
        </div> <br>
        
        <br> <br>



    </div>
    <div class="footer" style="color: #fff !important;
    font-weight: 600;">

        <div>&copy; copyright</div>
        <h2>THE MEME STORE</h2>

    </div>

    </body>
    </html>