<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{style}}">
    <link rel="stylesheet" href="{{pop}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        <link href="https://www.solodev.com/assets/selectize/css/normalize.css">
<link href="https://www.solodev.com/assets/selectize/css/selectize.default.css">
<script src="https://www.solodev.com/assets/selectize/js/jquery.js"></script>
<script src="https://www.solodev.com/assets/selectize/js/selectize.js"></script>
<script src="https://www.solodev.com/assets/selectize/js/index.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>The Meme Store</title>
</head>

<body background="./images/art-artistic-background-1020315.jpg">
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light">


            <a class="navbar-brand" href="#"><img src="./images/df807120-7bab-4b25-8bf3-588962468cb0_200x200.png"
                    id="logo"  style="height: 55px" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us">ABOUT-US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT-US</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                        style="margin: 10px; color: #fff; border-radius: 25px;">Upload Image</button>
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"
                        style="margin: 10px; color: #fff; border-radius: 25px;">Login / Sign-up</button>
                </form>
            </div>
        </nav>

    </section> <br>

    <div class="container paddingContact-container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="white">Let's Get Started!</h1>
            <p>Contact us today to talk more about the MEME WORLD.</p>
          </div>
        </div>
      </div>
      <div class="parallax texture" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero-slider/slide1.jpg);"></div>
      <!-- contact-form -->
      <div class="container form">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="form-group col-md-12">
                <h2 style="color: tomato">Tell us About Yourself</h2>
                <p style="color: #fff">Contact us today to discuss more about MEMES.</p>
              </div>
            </div>
            <form name="contactForm" id="contactForm" method="POST" action="">
              <div class="row">
                <div class="col-md-12">
                  <div class="control-group">
                    <label style="color: tomato">First Name</label>
                    <input type="text" class="demo-default form-control" placeholder="First Name">
                  </div>
                  <div class="control-group">
                    <label style="color: tomato">Last Name</label>
                    <input type="text" class="demo-default form-control" placeholder="Last Name">
                  </div>
                  <div class="control-group">
                    <label style="color: tomato">Company</label>
                    <input type="text" class="demo-default form-control" placeholder="Company">
                  </div>
                  <div class="control-group">
                    <label style="color: tomato">Phone</label>
                    <input type="text" class="demo-default form-control" placeholder="Phone #">
                  </div>
                  <div class="control-group">
                    <label style="color: tomato;">Email</label>
                    <input type="text" class="demo-default form-control" placeholder="yourname@domain.com">
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="form-group col-md-12 text-center">
                  <input type="submit" class="btn btn-danger" value="Contact Us">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-5 contact-right-info">
            <h2 style="color: tomato">ORLANDO OFFICE</h2>
            <p style="color: #fff">123 Open Door Road Suite 1200<br />
              Orlando, FL 30030<br />
            <br>
            </p>
            <h2 style="color: tomato">EMAIL ADDRESS</h2>
            <a href="mailto:info@webcorpco.com" style="color: #fff">info@memestore.com <br></a>
            <br/>
            <h2 style="color: tomato">SUPPORT</h2>
            <a href="mailto:support@webcorpco.com" style="color: #fff">support@memestore.com</a>
          </div>
        </div>
      </div>

    <div class="footer" style="color: #fff !important;
    font-weight: 600;">

        <div>&copy; copyright</div>
        <h2>THE MEME STORE</h2>

    </div>

    </body>
    </html>