* {
    margin:  0;
    padding: 0;

}

body {
    font-family: sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, red, #5f1782);
    padding: 0;
    
}

#logo {
    height: 40px ;
    padding-left: 20px;
}

.navbar-nav li 
{
    padding: 0 10px;
}

.navbar-nav li a 
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
    
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;

}


.vl {
    border-left: 3px solid red;
    height: auto; 
    margin-left: 230px;
}

.v2 {
    border-left: 3px solid red;
    height: auto; 
}

.col-6 {
    margin: 10px;
    align-content: center;
}

#right {
    margin: 20px;
}

.footer {
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, red, #5f1782);
    color: white;
    text-align: center;
    
 }

 .button {
    border-radius: 4px;
    background-color: tomato;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
