*{
    margin:  0;
    padding: 0;

}

body {
    font-family: sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, red, #5f1782);
    padding: 0;
    
}

#logo {
    height: 40px ;
    padding-left: 20px;
}

.navbar-nav li 
{
    padding: 0 10px;
}

.navbar-nav li a 
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
    
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;

}


.vl {
    border-left: 3px solid red;
    height: auto; 
}

.col-6 {
    margin: 10px;
    align-content: center;
}

#right {
    margin: 20px;
}
